ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    display: flex;
    justify-content: space-between
}
ul li:hover {
    background: #04754c;
}
.check{
 background: #059862;
  color: #fff;
  text-decoration: line-through;
}
